@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*{
    outline: none !important;
}

html, 
body{
    min-height: 100%;
}

body{
    position: relative;
}

.mat-checkbox-layout{
    margin-bottom: 0;
}